# Basic Recommender System Practice
### with Movie Lens dataset

In [ ]:
import os
from tqdm import tqdm
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from scipy.sparse import csr_matrix

import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Lectures/FastCampus/DATA/ml-latest-small/'

In [ ]:
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), index_col='movieId', encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding='utf-8')

In [ ]:
print(ratings_df.shape)
print(ratings_df.head())

(100836, 4)
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
num_users = ratings_df['userId'].unique()
num_movies = ratings_df['movieId'].unique()

print("Total number of users : ", len(num_users))
print("Total number of movies : ", len(num_movies))

Total number of users :  610
Total number of movies :  9724

In [ ]:
user_movie_matrix = ratings_df.pivot(
    index = 'movieId',
    columns = 'userId',
    values = 'rating'
).fillna(0)

user_movie_matrix

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        4.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        0.0  0.0  0.0  0.0  0.0  4.0  0.0  ...  5.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193581   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193583   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193585   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[9724 rows x 610 columns]

In [ ]:
sparse_mat = csr_matrix(user_movie_matrix)
print(sparse_mat)

  (0, 0)	4.0
  (0, 4)	4.0
  (0, 6)	4.5
  (0, 14)	2.5
  (0, 16)	4.5
  (0, 17)	3.5
  (0, 18)	4.0
  (0, 20)	3.5
  (0, 26)	3.0
  (0, 30)	5.0
  (0, 31)	3.0
  (0, 32)	3.0
  (0, 39)	5.0
  (0, 42)	5.0
  (0, 43)	3.0
  (0, 44)	4.0
  (0, 45)	5.0
  (0, 49)	3.0
  (0, 53)	3.0
  (0, 56)	5.0
  (0, 62)	5.0
  (0, 63)	4.0
  (0, 65)	4.0
  (0, 67)	2.5
  (0, 70)	5.0
  :	:
  (9700, 337)	2.5
  (9701, 337)	3.0
  (9702, 183)	4.0
  (9702, 247)	3.5
  (9703, 317)	2.5
  (9704, 209)	1.0
  (9705, 461)	2.5
  (9706, 49)	3.5
  (9707, 337)	1.5
  (9708, 337)	4.0
  (9709, 337)	1.0
  (9710, 337)	1.5
  (9711, 337)	1.0
  (9712, 337)	1.0
  (9713, 183)	4.5
  (9714, 183)	3.5
  (9715, 183)	3.0
  (9716, 183)	4.0
  (9717, 183)	4.0
  (9718, 183)	3.5
  (9719, 183)	4.0
  (9720, 183)	3.5
  (9721, 183)	3.5
  (9722, 183)	3.5
  (9723, 330)	4.0

In [ ]:
user_info_df = pd.DataFrame(data = [sum(list(user_movie_matrix[int(x)].value_counts())[1: ]) for x in user_movie_matrix.columns],
                            index = user_movie_matrix.columns, columns = ['movie_rated'])

user_info_df

        movie_rated
userId
1               232
2                29
3                39
4               216
5                44
...             ...
606            1115
607             187
608             831
609              37
610            1302

[610 rows x 1 columns]

In [ ]:
movie_info_df = pd.DataFrame(data = [sum(list(user_movie_matrix.loc[int(x)].value_counts())[1:]) for x in user_movie_matrix.index],
                           index = user_movie_matrix.index, columns=['users_rated'])

movie_info_df

         users_rated
movieId
1                215
2                110
3                 52
4                  7
5                 49
...              ...
193581             1
193583             1
193585             1
193587             1
193609             1

[9724 rows x 1 columns]

In [ ]:
train_df, test_df = train_test_split(ratings_df, test_size= 0.2, random_state = 1234)

print(train_df.shape)
print(test_df.shape)

(80668, 4)
(20168, 4)

## Percentage of movies or users present in the test set but not in the train set.

In [ ]:
# userId

print("Users: ", len(list(set(test_df['userId'].unique()) - set(train_df['userId'].unique()))))

# movieId

print("Movies: ", len(list(set(test_df['movieId'].unique()) - set(train_df['movieId'].unique()))))
print("Total number of movies: ", len(test_df['movieId'].unique()))

Users:  0
Movies:  786
Total number of movies:  5171

In [ ]:
movies_not_included = list(set(test_df['movieId'].unique()) - set(train_df['movieId'].unique()))
print(sorted(movies_not_included)[:10])

not_included_df = test_df[test_df.movieId.isin(movies_not_included)].sort_values(by = 'movieId')
print(not_included_df.head(10))

print("A number of movies or users present in the test set but not in the train set: ", not_included_df.shape)

[49, 117, 137, 178, 241, 320, 359, 478, 488, 495]
       userId  movieId  rating   timestamp
29386     202       49     3.0   974925453
97066     604      117     3.0   832080636
99501     609      137     3.0   847221054
27959     191      178     1.0   829760898
98493     607      241     4.0   964744490
96182     603      320     3.0   953925390
728         6      359     3.0   845556412
92825     599      478     2.5  1498515125
73214     474      488     3.0  1047569232
96218     603      495     5.0   953927108
A number of movies or users present in the test set but not in the train set:  (852, 4)

## Simple recommendation system algorithm.

- predict the score randomly

In [ ]:
rating_range = np.arange(0.5, 5.5, step = 0.5)
rating_range

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

In [ ]:
import random
pred_random = [random.choice(rating_range) for x in range(len(test_df))]
pred_random[:10]

[2.0, 5.0, 1.5, 5.0, 4.0, 2.5, 2.0, 1.5, 4.5, 1.5]

In [ ]:
test_df['pred_ratings_random'] = pred_random

In [ ]:
mse = mean_squared_error(y_true = test_df['rating'].values, y_pred= test_df['pred_ratings_random'].values)
rmse = np.sqrt(mse)
print(mse, rmse)

3.7076804839349466 1.9255338179151638

- Predict the score by the average of the movies
  - Using the average rating of the train set when predicting the test set. If not, choose random.

In [ ]:
train_movie_df = train_df.groupby('movieId').mean()

print(train_movie_df.shape)
print(train_movie_df.head())

(8938, 3)
             userId    rating     timestamp
movieId
1        307.473373  3.893491  1.128439e+09
2        327.475610  3.396341  1.142893e+09
3        266.386364  3.454545  9.900434e+08
4        192.750000  2.250000  8.425133e+08
5        309.526316  3.039474  1.007415e+09

In [ ]:
def avg_rating_prediction(training_set, x):
  if x in training_set.index:
    pred_rating = training_set.loc[x]['rating']
  else:
    pred_rating = random.choice(rating_range)
  return pred_rating

In [ ]:
test_df['pred_rating_random'] = test_df['movieId'].apply(lambda x: avg_rating_prediction(train_movie_df, x))

test_df.head()

       userId  movieId  ...  pred_ratingd_random  pred_rating_random
99731     610     3527  ...                  2.0            3.604167
97583     606     1250  ...                  5.0            4.180556
38197     262      213  ...                  1.5            3.750000
11474      68    69406  ...                  5.0            3.571429
34105     232     4728  ...                  4.0            2.769231

[5 rows x 6 columns]

In [ ]:
mse = mean_squared_error(y_true= test_df['rating'].values, y_pred= test_df['pred_rating_random'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.0546486683569507 1.0269608893998596

- Predict the score by the average of the users
  - Using the average rating of the train set when predicting the test set. If not, choose random.

In [ ]:
train_user_df = train_df.groupby('userId').mean()

print(train_user_df.shape)
print(train_user_df.head())

(610, 3)
             movieId    rating     timestamp
userId
1        1891.168478  4.320652  9.649865e+08
2       70402.760000  3.940000  1.445715e+09
3        8394.733333  2.516667  1.306464e+09
4        1957.923077  3.631868  9.655941e+08
5         337.606061  3.636364  8.474351e+08

In [ ]:
test_df['pred_rating_user'] = test_df['userId'].apply(lambda x: avg_rating_prediction(train_user_df, x))
test_df.head()

       userId  movieId  ...  pred_rating_random  pred_rating_user
99731     610     3527  ...            3.604167          3.678709
97583     606     1250  ...            4.180556          3.649718
38197     262      213  ...            3.750000          2.925000
11474      68    69406  ...            3.571429          3.229331
34105     232     4728  ...            2.769231          3.242268

[5 rows x 7 columns]

In [ ]:
mse = mean_squared_error(y_true= test_df['rating'].values, y_pred = test_df['pred_rating_user'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

0.8905889036428333 0.9437101798978504

- Predict the score by 'RULE'
  - Test set's average rating of the movie genre.

In [ ]:
train_user_movie_matrix = train_df.pivot(
    index = 'movieId',
    columns = 'userId',
    values = 'rating'
).fillna(0)

train_user_movie_matrix

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        0.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  0.0  2.5  0.0  5.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193573   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193579   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193581   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[8938 rows x 610 columns]

In [ ]:
genres_df = movies_df['genres'].str.get_dummies(sep = '|')
print(genres_df.shape)

genres_df = genres_df.loc[train_df.movieId.unique()]
print(genres_df.shape)
genres_df.head()

(9742, 20)
(8938, 20)

         (no genres listed)  Action  Adventure  ...  Thriller  War  Western
movieId                                         ...
5943                      0       0          0  ...         0    0        0
2571                      0       1          0  ...         1    0        0
8958                      0       0          0  ...         0    0        0
2322                      0       1          0  ...         0    1        0
2959                      0       1          0  ...         1    0        0

[5 rows x 20 columns]

In [ ]:
train_movie_avg_ratings_df = train_user_movie_matrix.copy()
train_movie_avg_ratings_df = train_movie_avg_ratings_df.replace(0, np.NaN)
train_movie_avg_ratings_df = train_movie_avg_ratings_df.mean(axis= 1)

train_movie_avg_ratings_df.head()

movieId
1    3.893491
2    3.396341
3    3.454545
4    2.250000
5    3.039474
dtype: float64

In [ ]:
genres_avg_ratings_df = pd.DataFrame(index = genres_df.columns, columns = ['avg_ratings'])

for genre in genres_avg_ratings_df.index:
  genre_avg_rating = train_movie_avg_ratings_df.loc[genres_df[genres_df[genre].isin([1])].index].mean()
  genres_avg_ratings_df.loc[genre]['avg_ratings'] = genre_avg_rating

genres_avg_ratings_df

                   avg_ratings
(no genres listed)     3.33642
Action                 3.11085
Adventure             3.230721
Animation             3.492258
Children              3.101232
Comedy                 3.18148
Crime                 3.313588
Documentary           3.801026
Drama                 3.429093
Fantasy               3.240257
Film-Noir              3.72647
Horror                2.910431
IMAX                  3.275753
Musical               3.288635
Mystery               3.343246
Romance                3.35426
Sci-Fi                3.130823
Thriller              3.173302
War                   3.571317
Western               3.397687

In [ ]:
def get_genre_avg_ratings(x):
  genres_list = movies_df.loc[x]['genres'].split('|')
  rating = 0
  for genre in genres_list:
    rating += genres_avg_ratings_df.loc[genre]['avg_ratings']

  return rating / len(genres_list)

In [ ]:
tqdm.pandas()
test_df['pred_rating_genre'] = test_df['movieId'].progress_apply(lambda x : get_genre_avg_ratings(x))

100%|██████████| 20168/20168 [00:13<00:00, 1502.29it/s]

In [ ]:
test_df

       userId  movieId  ...  pred_rating_user  pred_rating_genre
99731     610     3527  ...          3.678709           3.138325
97583     606     1250  ...          3.649718           3.410377
38197     262      213  ...          2.925000           3.429093
11474      68    69406  ...          3.229331           3.267870
34105     232     4728  ...          3.242268           3.181480
...       ...      ...  ...               ...                ...
41080     279      593  ...          3.666667           3.132440
4897       31      780  ...          3.911765           3.161424
8023       56      410  ...          3.837838           3.174323
77467     483     2291  ...          3.598940           3.341203
99662     610     1953  ...          3.678709           3.199247

[20168 rows x 8 columns]

In [ ]:
mse = mean_squared_error(y_true = test_df['rating'].values, y_pred = test_df['pred_rating_genre'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.1251906030478547 1.0607500191128232

- Predict the movie's score by 'RULE'

In [ ]:
train_user_info_df = pd.DataFrame({
    'avg_ratings': train_df.groupby('userId')['rating'].mean(),
    'std_ratings': train_df.groupby('userId')['rating'].std(),
    'count_ratings': train_df.groupby('userId')['rating'].count()
})

train_user_info_df

        avg_ratings  std_ratings  count_ratings
userId
1          4.320652     0.836600            184
2          3.940000     0.820569             25
3          2.516667     2.127340             30
4          3.631868     1.317823            182
5          3.636364     1.084498             33
...             ...          ...            ...
606        3.649718     0.734887            885
607        3.772414     0.955574            145
608        3.145865     1.071503            665
609        3.275862     0.454859             29
610        3.678709     0.863712           1038

[610 rows x 3 columns]

In [ ]:
min_count = train_user_info_df['count_ratings'].min()
max_count = train_user_info_df['count_ratings'].max()
avg_count = train_user_info_df['count_ratings'].mean()

train_user_info_df['weights'] = train_user_info_df['count_ratings'].apply(lambda x: (x - avg_count) / (max_count - min_count))

train_user_info_df

        avg_ratings  std_ratings  count_ratings   weights
userId
1          4.320652     0.836600            184  0.023995
2          3.940000     0.820569             25 -0.049718
3          2.516667     2.127340             30 -0.047400
4          3.631868     1.317823            182  0.023068
5          3.636364     1.084498             33 -0.046010
...             ...          ...            ...       ...
606        3.649718     0.734887            885  0.348983
607        3.772414     0.955574            145  0.005914
608        3.145865     1.071503            665  0.246990
609        3.275862     0.454859             29 -0.047864
610        3.678709     0.863712           1038  0.419915

[610 rows x 4 columns]

In [ ]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(train_user_info_df)
df_normalized = pd.DataFrame(np_scaled, columns = train_user_info_df.columns, index = train_user_info_df.index)
df_normalized

        avg_ratings  std_ratings  count_ratings   weights
userId
1          0.822227     0.393261       0.079740  0.079740
2          0.722617     0.385725       0.006027  0.006027
3          0.350156     1.000000       0.008345  0.008345
4          0.641984     0.619470       0.078813  0.078813
5          0.643161     0.509791       0.009736  0.009736
...             ...          ...            ...       ...
606        0.646655     0.345449       0.404729  0.404729
607        0.678762     0.449188       0.061660  0.061660
608        0.514806     0.503682       0.302735  0.302735
609        0.548824     0.213816       0.007881  0.007881
610        0.654242     0.406005       0.475661  0.475661

[610 rows x 4 columns]

In [ ]:
df_normalized['normalized_avg_ratings'] = df_normalized['avg_ratings'] * 5
df_normalized

        avg_ratings  std_ratings  ...   weights  normalized_avg_ratings
userId                            ...
1          0.822227     0.393261  ...  0.079740                4.111134
2          0.722617     0.385725  ...  0.006027                3.613084
3          0.350156     1.000000  ...  0.008345                1.750779
4          0.641984     0.619470  ...  0.078813                3.209921
5          0.643161     0.509791  ...  0.009736                3.215803
...             ...          ...  ...       ...                     ...
606        0.646655     0.345449  ...  0.404729                3.233275
607        0.678762     0.449188  ...  0.061660                3.393812
608        0.514806     0.503682  ...  0.302735                2.574029
609        0.548824     0.213816  ...  0.007881                2.744119
610        0.654242     0.406005  ...  0.475661                3.271208

[610 rows x 5 columns]

In [ ]:
test_df['pred_ratings_normalized'] = test_df['userId'].apply(lambda x: df_normalized.loc[x]['normalized_avg_ratings'])
test_df

       userId  movieId  ...  pred_rating_genre  pred_ratings_normalized
99731     610     3527  ...           3.138325                 3.271208
97583     606     1250  ...           3.410377                 3.233275
38197     262      213  ...           3.429093                 2.285047
11474      68    69406  ...           3.267870                 2.683236
34105     232     4728  ...           3.181480                 2.700164
...       ...      ...  ...                ...                      ...
41080     279      593  ...           3.132440                 3.255452
4897       31      780  ...           3.161424                 3.576141
8023       56      410  ...           3.174323                 3.479414
77467     483     2291  ...           3.341203                 3.166837
99662     610     1953  ...           3.199247                 3.271208

[20168 rows x 9 columns]

In [ ]:
mse = mean_squared_error(y_true= test_df['rating'].values, y_pred = test_df['pred_ratings_normalized'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.120579096060227 1.05857408624065